node_modules/
build/
dist/
build-server/
coverage/
.DS_Store
*.log
.env*
!.env.example
server/data/*.json
android/.idea/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/DerivedData/

.vercel
